<button style=" position:absolute;
    transition: 3.5s ease;
    top: 5%;
    left: 70%;" type="button">Log in
</button>
<button style=" position:absolute;
    transition: 3.5s ease;
    top: 01%;
    left: 15%;" type="button">Search
</button>
<input type="text" value="search" name="Email" id="Email"
 onblur="if (this.value == '') {this.value = 'search';}"
 onfocus="if (this.value == 'search') {this.value = '';}" />

<table id="myTable">
  <tr>
    <td><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5890.png&w=350&h=254" alt="" border=3 height=73 width=100></img></td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
<button onclick="myFunction()">Try it</button>
<script>
function myFunction() {
    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell3.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
    var pic = document.createElement("img");
    pic.src = "http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5890.png&w=350&h=254";
    pic.border = 3;
    pic.height = 73;
    pic.width = 100;
    cell1.appendChild(pic);
}
</script>