$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.search-field{
	margin-top: 15px;
}

.stats-table table{
	border: 3px solid black;
	width: 95%;
}

.stats-table tr{
	border: 1px solid black;
}

.stats-table tr:hover{
	background-color: #ddd;
}

.table-stats td:hover{
	background-color: #ffff00;
	font-weight: bold;
}

.table-head th{
	border: 2px solid black;
	background-color: #0059f1;
	text-align: center;
}

.total-table table{
	border: 3px solid black;
	width: 95%;

}

.table-row-total td:nth-child(1){
	text-align: center;
}
.table-row-total td:nth-child(n+5){
	border: 2px solid black;
	text-align: center;
}

.table-stats td{
	border: 2px solid black;
	text-align: center;
}

.table-row-total td{
	background-color: #ffff80;
}

.table-row-total td:hover{
	background-color: #ffff00;
	font-weight: bold;
}

/*http://codersblock.com/blog/checkbox-trickery-with-css/*/

.container{
	width: 220px;
}

.container input {
  position: absolute;
  left: -9999px;
}

.container label {
  display: block;
  position: relative;
  margin: 20px;
  padding: 15px 30px 15px 52px;
  border: 3px solid #000;
  border-radius: 100px;
  color: #000;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.container label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #000;
  border-radius: 100px;
  transition: background-color .2s;
}

.container label:first-of-type {
  transform: translateX(-40px);
}

.container label:last-of-type {
  transform: translateX(40px);
}

.container label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.container input:checked + label {
  background-color: #fff;
}

.container input:checked + label::before {
  background-color: #8cff1a;
}
