$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.search-field{
	margin-top: 15px;
}

.stats-table table{
	border: 3px solid black;
	width: 95%;
}

.stats-table tr{
	border: 1px solid black;
}

.stats-table tr:hover{
	background-color: #ddd;
}

.table-stats td:hover{
	background-color: #ffff00;
	font-weight: bold;
}

.table-head th{
	border: 2px solid black;
	background-color: #0059f1;
	text-align: center;
}

.total-table table{
	border: 3px solid black;
	width: 95%;

}

.table-row-total td:nth-child(1){
	text-align: center;
}
.table-row-total td:nth-child(n+5){
	border: 2px solid black;
	text-align: center;
}

.table-stats td{
	border: 2px solid black;
	text-align: center;
}

.table-row-total td{
	background-color: #ffff80;
}

.table-row-total td:hover{
	background-color: #ffff00;
	font-weight: bold;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:15px !important; padding-bottom:10px !important;
    height: 20px;
}

.navbar {min-height:20px !important;max-height:50px !important;}

.right-side{
  padding-bottom:10px !important;
}

.favourite-players{
  list-style: None;
}

.favourite-players li{
  display: inline;
}