$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.search-field{
	margin-top: 15px;
}

.stats-table table{
	border: 3px solid black;
	width: 95%;
}

.stats-table tr{
	border: 1px solid black;
}

.stats-table tr td{
	border: 2px solid black;
	text-align: center;
}

.stats-table tr:hover{
	background-color: #ddd;
}

.table-stats td:hover{
	background-color: #ffff00;
	font-weight: bold;
}

.table-head th{
	border: 2px solid black;
	background-color: #0059f1;
	text-align: center;
}

.total-table table{
	border: 3px solid black;
	width: 95%;

}

.table-head-total th{	
	text-align: center;
}

.table-head-total th:nth-child(1){
	text-align: center;
}

.table-head-total th:nth-child(n+5){
	border: 2px solid black;
	text-align: center;
	background-color: #0059f1;
}

.table-row-total{
	border: 2px solid black;
}
.table-row-total td:nth-child(1){
	text-align: center;
	padding-left: 40px;
}
.table-row-total td:nth-child(n+5){
	border: 2px solid black;
	text-align: center;
}